$header-height: 100px;

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: $header-height;
  display: flex;
  background:snow;
  z-index: 100;
  box-shadow: 0 8px 6px -6px black;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-transform: uppercase;
  color: darkslategrey;
}

.page-title {
  font-size: 40px;
}

.homepage-container, .homepage-container-with-results {
  background-color: lightskyblue;
  padding: 20px;
}

.homepage-container {
  height: calc(100vh - #{$header-height});
}

.button-container {
  display: flex;
  justify-content: center;
}

.results-toggle-button {
  padding: 10px 20px;
  cursor: pointer;
  letter-spacing: 1px;
  background: white;
  border: none;
  outline: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  margin: 8vh 0 6vh 0;
}

.contender-container {
  display: grid;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cc-0.contender-container {
  grid-column: 3 / 8;
}

#cc-1.contender-container {
  grid-column: 10 / 15;
}

.center-statement {
  display: grid;
  grid-column: 8 / 10;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 1400px) {
  #cc-0.contender-container {
    grid-column: 2 / 7;
  }
  
  #cc-1.contender-container {
    grid-column: 11 / 16;
  }
}
